form{
    display: block;
}

#logo{
   text-align: center;
}

ul{
    list-style-type: none;
    padding: 5px;

}

a{
    padding-right: 15px;
}

.left{
    float:left;
    text-decoration: none;
}
.right{
    float:right;
    text-decoration: none;
}

header{
    list-style-type: none;
    font-family: arial;
}

#mainStuff{
    text-align: center;
}